*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: #dfe1e6;
}

.card-custom{
    padding: 12px;
    width: 80%;
    box-shadow: 5px 5px 5px rgba(19, 19, 19, 0.3);
    background-color: white;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.scrollable{
    height: 450px;
    overflow-y: scroll;
}

.modal-custom{
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding-top: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.4s;
    overflow-y: scroll;
}

.modal-custom-content{
    background-color: #dfe1e6 ;
    margin: auto;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    overflow-y: scroll;
    
}

.modal-custom.active{
    z-index: 10;
    opacity: 1;
    
}

.activeCard{
    box-shadow: none;
    color: #0d6efd;
}

.bg-card{
    background-color: white;
    box-shadow:  0px 5px 25px rgba(19, 19, 19, 0.3);
}

.bg-graphic{
    background-color: #0d6efd;
    
}

.text-accent{
    color:  #0d6efd ;
}

.card-custom:hover{
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #0d6efd; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #0d6efd; 
  }

  .progress{
      background-color: transparent;
      
  }

  .progress-bar{
    background-color: #0d6efd ;
  }

.button{
    background-color: #b5b5b5;
    border-radius: 50%;
    padding: 15px;
    color: white;
    box-shadow: 5px 3px 10px rgb(0 0 0 / 80%);
    transition: 0.5s;
    margin-left: 40px;
    margin-right: 20px;
}
.button:hover{
    color: white;
    box-shadow: none;
}